<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">

        <link rel="stylesheet" href="/theme/css/style.css" />
        <link rel="stylesheet" href="/theme/css/native-pygment.css" />

        <title>VincentAube.net</title>
    </head>
    <body>
        <header id="head">
            <a href="/"><img src="/theme/images/logo.png" /></a>
        </header>
        <nav id="menu">
            <ul>
            {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            </ul>
        </nav>
        <section>
            {% block content %}
            {% endblock content %}
        </section>
        <footer>
            Vincent Aubé - 2016
        </footer>
        
        <script src="/theme/lib/instantclick.min.js" data-no-instant></script>
        <script data-no-instant>InstantClick.init();</script>
    </body>
</html>